<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
        <div class="container-fluid d-flex justify-content-end align-items-center">
            <div class="d-flex align-items-center gap-3">
                <span class="text-white auth-sub-text">Hallo {{ user_name }}</span>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-custom btn-logout">Logout</a>
            </div>
        </div>
        <div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center">
            <span class="navbar-brand nav-text mb-0">GymLog</span>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="GymLog Logo" class="nav-logo">
        </div>
    </nav>
    <div class="container mt-5">
        <div class="d-flex justify-content-center mt-4">
            <a href="{{ url_for('workouts.overview') }}" class="btn btn-custom btn-switch mx-2">Übersicht</a>
            <a href="{{ url_for('workouts.create') }}" class="btn btn-custom btn-switch mx-2">Anlegen</a>
            <a href="{{ url_for('workouts.display') }}" class="btn btn-custom btn-switch mx-2">Anzeigen</a>
            <a href="{{ url_for('workouts.statistics') }}" class="btn btn-custom btn-switch mx-2">Statistik</a>
        </div>
        <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-custom btn-accordion mx-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Workout anlegen</button>
                </h5>
            </div>
            <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form method="POST" action="{{ url_for('workouts.add_workout') }}">
                        <div class="mb-3">
                            <label class="form-label auth-sub-text">Trainingstyp</label>
                            <select class="form-control" name="workout_type" required>
                                {% for wt in workout_types %}
                                    <option value="{{ wt.workout_type_id }}">
                                        {{ wt.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label auth-sub-text">Datum</label>
                            <input type="date" name="workout_date" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label auth-sub-text">Startzeit</label>
                            <input type="time" name="workout_start_time" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label auth-sub-text">Endzeit</label>
                            <input type="time" name="workout_end_time" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label auth-sub-text">Kalorienverbrauch</label>
                            <input type="number" name="workout_calories" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label auth-sub-text">Notiz</label>
                            <textarea type="text" name="workout_note" class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-custom btn-login auth-sub-text">Speichern</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-custom btn-accordion mx-2 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Workoutvorlage anlegen</button>
                </h5>
            </div>
            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Workoutvorlage anlegen Text.
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-custom btn-accordion mx-2 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Übung anlegen</button>
            </h5>
            </div>
            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Übung anlegen Text.
            </div>
            </div>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    </div>
</body>
</html>