<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
        <div class="container-fluid d-flex justify-content-end align-items-center">
            <div class="d-flex align-items-center gap-3">
                <span class="text-white sub-text">Hallo {{ user_name }}</span>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-custom btn-logout">Logout</a>
            </div>
        </div>
        <div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center">
            <span class="navbar-brand nav-text mb-0">GymLog</span>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="GymLog Logo" class="nav-logo">
        </div>
    </nav>
    <div class="container mt-5">
        <div class="d-flex justify-content-center mt-4">
            <a href="{{ url_for('pages.overview_page') }}" class="btn btn-custom btn-switch mx-2">Überblick</a>
            <a href="{{ url_for('pages.create_page') }}" class="btn btn-custom btn-switch mx-2">Erstellen</a>
            <a href="{{ url_for('pages.edit_page') }}" class="btn btn-custom btn-switch btn-switch-selected mx-2">Bearbeiten</a>
            <a href="{{ url_for('pages.statistics_page') }}" class="btn btn-custom btn-switch mx-2">Auswertung</a>
        </div>
        <form method="GET" id="date-filtering">
            <div class="row mb-4 date-filtering justify-content-center align-items-center gx-4 py-2">
                <div class="col-md-3 d-flex align-items-center mb-2 px-3">
                    <label class="form-label sub-text me-3 mb-0" for="filter_start_date">Von</label>
                    <input type="date" name="filter_start_date" class="form-control auto-submit" value="{{ value_filter_start_date }}" required>
                </div>
                <div class="col-md-3 d-flex align-items-center mb-2 px-3">
                    <label class="form-label sub-text me-3 mb-0" for="filter_end_date">Bis</label>
                    <input type="date" name="filter_end_date" class="form-control auto-submit" value="{{ value_filter_end_date }}" required>
                </div>
            </div>
        </form>
        <div class="accordion" id="workoutAccordion">
            {% for w in workouts %}
            <div class="accordion-item">
                <h2 class="accordion-header d-flex align-items-center" id="heading{{ loop.index }}">
                    <button class="accordion-button sub-text collapsed flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">{{ w.date }}</button>
                    <form method="POST" action="{{ url_for('workouts.delete_workout') }}">
                        <input type="hidden" name="workout_id" value="{{ w.workout_id }}">
                        <button type="submit" class="btn btn-custom btn-delete sub-text" onclick="return confirm('Workout wirklich löschen?')"><img src="{{ url_for('static', filename='img/trash.png') }}" width="20px"></button>
                    </form>
                </h2>
                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#workoutAccordion">
                    <form method="POST" action="{{ url_for('workouts.edit_workout') }}">
                        <input type="hidden" name="workout_id" value="{{ w.workout_id }}">
                        <div class="accordion-body">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label sub-text">Name</label>
                                    <input type="text" name="workout_name" class="form-control" value="{{ w.name }}" required></input>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label sub-text">Trainingstyp</label>
                                    <select name="workout_type" class="form-control" required>
                                        {% for wt in workout_types %}
                                            <option value="{{ wt.workout_type_id }}" {% if wt.workout_type_id == w.workout_type_id %}selected{% endif %}>{{ wt.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label sub-text">Kalorienverbrauch</label>
                                    <input type="number" name="workout_calories" class="form-control" value="{{ w.calories_burned }}"></input>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label sub-text">Datum</label>
                                    <input type="date" name="workout_date" class="form-control" value="{{ w.date }}" required></input>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label sub-text">Startzeit</label>
                                    <input type="time" name="workout_start_time" class="form-control" value="{{ w.start_time if w.start_time else '' }}"></input>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label sub-text">Endzeit</label>
                                    <input type="time" name="workout_end_time" class="form-control" value="{{ w.end_time if w.end_time else '' }}"></input>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label sub-text">Notiz</label>
                                <textarea type="text" name="workout_note" class="form-control" rows="1">{{ w.note}}</textarea>
                            </div>
                            <div class="card mb-3">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <span class="form-label sub-text">Übungen</span>
                                    <button type="button" class="btn btn-custom btn-add-remove-item" onclick="addExercise(this)">+</button>
                                </div>
                                <div class="card-body exercise_container">
                                    {% if exercises_workouts %}
                                        {% for ew in exercises_workouts %}
                                            {% if ew.workout_id == w.workout_id %}
                                            <div class="card mb-3 exercise-card" data-index="{{ ew.exercise_workout_id }}">
                                                <input type="hidden" name="exercises_workouts_ids[]" value="{{ ew.exercise_workout_id }}">
                                                <div class="card-body">
                                                    <div class="row align-items-start g-2">
                                                        <div class="col-md-5">
                                                            <select class="form-control selectpicker edit-exercise-select" data-live-search="true" name="exercise_ids[]">
                                                                {% for ex in exercises %}
                                                                    <option value="{{ ex.exercise_id }}" data-muscle-group-id="{{ ex.muscle_group_name }}" data-equipment-id="{{ ex.equipment_name }}" data-description="{{ ex.exercise_description }}" {% if ex.exercise_id == ew.exercise_id %} selected {% endif %}>
                                                                        {{ ex.exercise_name }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control muscle_group" value="{{ ew.muscle_group_name }}" readonly>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control equipment" value="{{ ew.equipment_name }}" readonly>
                                                        </div>
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-1 d-flex justify-content-center">
                                                            <button type="button" class="btn btn-custom btn-add-remove-item" onclick="removeExercise(this)">-</button>
                                                        </div>
                                                        <div class="col-md-12 mt-2">
                                                            <small class="form-text description-text">{{ ew.exercise_description }}</small>
                                                        </div>
                                                        {% if sets %}
                                                        <div class="row mt-3">
                                                            <div class="col-md-9">
                                                                <div class="card">
                                                                    <div class="card-header d-flex justify-content-between">
                                                                        <span class="form-label sub-text">Sätze</span>
                                                                        <button type="button" class="btn btn-custom btn-add-remove-item" onclick="addSet('{{ ew.exercise_workout_id }}')">+</button>
                                                                    </div>
                                                                    <div class="card-body sets-container">
                                                                    {% for s in sets %}
                                                                        {% if s.exercise_workout_id == ew.exercise_workout_id %}
                                                                            <div class="card mb-2 setCard">
                                                                                <input type="hidden" name="sets_ids[{{ ew.exercise_workout_id }}][]" value="{{ s.set_entry_id }}">
                                                                                <div class="card-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-4">
                                                                                            <input type="number" class="form-control" name="weights[{{ ew.exercise_workout_id }}][]" value="{{ s.weight if s.weight is not none else '' }}">
                                                                                        </div>
                                                                                        <div class="col-md-4">
                                                                                            <input type="number" class="form-control" name="reps[{{ ew.exercise_workout_id }}][]" value="{{ s.repetitions if s.repetitions is not none else '' }}">
                                                                                        </div>
                                                                                        <div class="col-md-3"></div>
                                                                                        <div class="col-md-1"> 
                                                                                            <button type="button" class="btn btn-custom btn-add-remove-item" onclick="removeSet(this)">-</button> 
                                                                                        </div> 
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-custom btn-save-changes sub-text">Änderungen speichern</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

    <script>
    document.querySelectorAll(".auto-submit").forEach(input => {
        input.addEventListener("change", function() {
            document.getElementById("date-filtering").submit();
        });
    });
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
        $('.edit-exercise-select').on('changed.bs.select', function() {
            updateExerciseData($(this));
        });
    });
    let exercise_index = -1;

    function updateExerciseData(selectElement) {
        let selected = selectElement.find('option:selected');
        let muscle_group = selected.data('muscle-group-id') || '';
        let equipment = selected.data('equipment-id') || '';
        let description = selected.data('description') || '';
        let card = selectElement.closest('.exercise-card');

        card.find('.muscle_group').val(muscle_group);
        card.find('.equipment').val(equipment);
        card.find('.description-text').text(description);
    }

    function addExercise(button){
        let container = $(button).closest('.card').find('.exercise_container');
        let index = exercise_index--;
        let new_card = $(`
            <div class="card mb-3 exercise-card" data-index="${index}">
                <div class="card-body">
                    <div class="row align-items-start g-2">
                        <div class="col-md-5">
                            <select class="form-control selectpicker" data-live-search="true" name="exercise_ids[]">
                            {% for ex in exercises %}
                                <option value="{{ ex.exercise_id }}" data-muscle-group-id="{{ ex.muscle_group_name }}" data-equipment-id="{{ ex.equipment_name }}" data-description="{{ ex.exercise_description }}">
                                    {{ ex.exercise_name }}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control muscle_group" readonly>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control equipment" readonly>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-1 text-center">
                            <button type="button" class="btn btn-custom btn-add-remove-item" onclick="removeExercise(this)">-</button>
                        </div>
                        <div class="col-md-12 mt-2">
                            <small class="description-text"></small>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <span>Sätze</span>
                                    <button type="button" class="btn btn-custom btn-add-remove-item" onclick="addSet(${index})">+</button>
                                </div>
                                <div class="card-body sets-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `);
        container.append(new_card);
        new_card.find('.selectpicker').selectpicker();
        new_card.find('.selectpicker').on('changed.bs.select', function(){
                updateExerciseData($(this));
            }
        );
        updateExerciseData(new_card.find('.selectpicker'));
        addSet(index);
    }
    
    function addSet(exercise_id){
        let container = $(`.exercise-card[data-index="${exercise_id}"]`).find('.sets-container');
        let new_set = $(`
            <div class="card mb-2 setCard"> 
                <div class="card-body"> 
                    <div class="row">
                        <input type="hidden" name="sets_ids[${exercise_id}][]" value="">
                        <div class="col-md-4"> 
                            <input type="number" class="form-control" name="weights[${exercise_id}][]" placeholder="Gewicht (kg)" required>
                        </div> 
                        <div class="col-md-4"> 
                            <input type="number" class="form-control" name="reps[${exercise_id}][]" placeholder="Wiederholungen" required> 
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-1"> 
                            <button type="button" class="btn btn-custom btn-add-remove-item" onclick="removeSet(this)">-</button> 
                        </div> 
                    </div> 
                </div> 
            </div>
        `);
        container.append(new_set);
        console.log("add new set")
    }

    function removeExercise(button){
        $(button).closest(".exercise-card").remove();
    }
    
    function removeSet(button){
        let set_container = $(button).closest('.setCard').parent();
        if(set_container.find('.setCard').length > 1){
            $(button).closest('.setCard').remove();
        }
    }

    </script>
</body>
</html>